@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("animations.css");
/* body {
  margin: 0;
}
:root {
  --ambience: rgb(204, 0, 0);
  --reflection: rgb(204, 0, 0, 0.1);
  --screen-height: 100vh;
  --screen-width: 100vw;
  --screen-backlight: #0d800090;
  --font-size: 22px;
  --font-color: #a3ff99;
  --font-shadow: #5dff4b;
}

.glass {
  position: relative;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.15),
    var(--reflection) 90%
  );
  box-shadow: inset 7px 7px 14px 10px #000000,
    inset -7px -7px 14px var(--ambience);
  border-radius: 50px;
  height: inherit;
  width: inherit;
  z-index: 10000;
}
.wrapper {
  border-radius: 50px;
  width: var(--screen-width);
  height: var(--screen-height);
  z-index: -1;
}

.greentheme {
  color: var(--font-color);
  text-shadow: 0px 0px var(--font-size) var(--font-shadow);
  font-family: Glass, VT323, monospace;
  font-size: var(--font-size);
  line-height: 25px;
  animation: textShadow 1.6s infinite;
  background: radial-gradient(var(--screen-backlight), #000000);
}

.greentheme a,
.greentheme a:hover,
.greentheme a:active {
  color: var(--font-color);
  text-shadow: 0px 0px var(--font-size) var(--font-shadow);
  text-decoration: underline;
  animation: textShadow 1.6s infinite;
}

.orangetheme {
  color: #ffcc00;
  text-shadow: 0px 0px var(--font-size) #ffb000;
  font-family: Glass, VT323, monospace;
  font-size: var(--font-size);
  line-height: 25px;
  animation: textShadow 1.6s infinite;
  background: radial-gradient(#80530090, #000000);
}

.screen {
  border-radius: 50px;
  display: flex;
  height: var(--screen-height);
  overflow: scroll;
  flex-direction: column;
  z-index: 1;
}

.screen > * {
  padding: 50px;
}

.screen.invert {
  flex-direction: column-reverse;
}

.screen::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.screen::after {
  content: " ";
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 3;
  animation: flicker 0.1s infinite;
  padding: 50px;
  position: fixed;
  display: block;
  right: 0;
  bottom: -5px;
  left: 0;
  margin: auto;
  pointer-events: none;
}

.screen::before {
  content: " ";
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(to top, #000000, #000000, #33333300, #33333300);
  z-index: 3;
  background-size: 100% 2px, 3px 10%;
  padding: 50px;
  position: fixed;
  display: block;
  right: 0;
  bottom: -5px;
  left: 0;
  margin: auto;
  pointer-events: none;
} */

/* 
body {
  background-color: black;
  background-image: radial-gradient(
    #649b5977, black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: #ccc;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.15),
    var(--reflection) 90%
  );
    pointer-events: none;
  }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
} */

/* .tags {
  font-size: smaller;
} */

:root {
	--green-color: #5bf870;
	--green-bg: #05321e;
	--red-color: #c0100a;
	--red-bg: #1b0302;
	--blue-color: #a5a5ff;
	--blue-bg: #4242e7;
	--off: #050505;
	--dark: #111;
	--term: "> ";
}
.theme-green {
	--color: var(--green-color);
	--bg: var(--green-bg);
}

html {
	font-size: 12px;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #111;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}

a {
	outline: none;
}
/*********** PARTS OF THE SCREEN *************/

#monitor {
	margin: 3vmin auto;
	padding: 5.5vmin;
	width: min-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #3f3933;
	border-radius: 0.5rem;
}
#monitor:not(.off) {
	box-shadow: 0.6px 90px 110px -60px var(--bg); /* screen glow */
}
#screen {
	position: relative;
	border: 30px solid transparent;
	border-image-source: url(/img/bezel_gray.png);
	border-image-slice: 30 fill;
	border-image-outset: 0;
	overflow: hidden;
}
/* The screen itself + border */
#crt,
pre {
	font-family: "VT323", monospace;
}
#crt {
	min-width: 80ch; /* This makes 80 monospace characters fit on the screen */
	height: 100%; /*  calc(80ch * 0.8); */
	font-size: min(
		8vh,
		8.2vmin
	); /* Scale the font-size relative to the minimum screen dimension */
	position: relative;
	background: var(--bg);
	background-image: radial-gradient(
		ellipse,
		var(--bg) 0%,
		var(--off) 90%
	);
	animation: on 2s linear;
	transition: all 0.5s;
	overflow: hidden;
}

#crt:after {
	content: " ";
	opacity: 0;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
}
#monitor:not(.off) #crt:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0.1) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 8px;
	z-index: 2;
	pointer-events: none;
	animation: fadeIn 2s;
}
.fullscreen #crt {
	/* font-size: 2.5rem; */
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
  right: 0;
  bottom: 0;
	z-index: 999;
}

#toggleFullscreen {
  position: fixed;
  top: 1rem;
  right: 1rem;
}
#reload {
  position: fixed;
  top: 1rem;
  right: 3rem;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
} 

.terminal {
	position: relative;
	height: 100%;
	padding: 2rem;
	overflow-y: auto;
	overflow-x: hidden;
	word-break: break-word;
	text-transform: uppercase;
  animation: textShadow 1.6s infinite;
}
.terminal * {
	color: var(--color);
	/* text-shadow: 0 0 3px #c4ff92; */
 margin-top: 0; 
 margin-bottom: 0; 
}

.terminal::after {
  content: " ";
  width:100%;
  height: 100%;
  background: rgba(18, 16, 16, 0.2);
  /* background-color: #a5a5ff; */
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  padding: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
  animation: flicker 0.10s infinite;
  z-index: 3;
}

::selection {
	background: var(--color);
	color: var(--bg);
	text-shadow: none;
}

/* Scanline moving top to bottom over the screen */
.scanline {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanline 5s linear infinite;
}


.debug-overlay {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  height: 4rem;
  color: white;
  font-size: 2rem;
}

.typewriter:after {
  display: inline-block;
  color: red;
  content: " ";
  background-color: var(--color);
  width: 1rem;
  height: 1rem;
}

a:focus:before {
  content: "[";
}

a:focus:after {
  content: "]";
}

.prompt {
  flex-shrink: 1;
  /* flex-grow: 1; */
  /* min-width: 0; */
  display: inline-block;
  background-color: transparent;
  border: none;
  color: var(--color);
	text-transform: uppercase;
  /* height: 100%; */
	font-size: inherit;
  animation: textShadow 1.6s infinite;
  font-family: "VT323", monospace;
  
field-sizing: content;
}
.prompt:focus {
  outline: none;
}
.prompt {
  caret-color: transparent;
  display: flex;
}
.prompt:before {
  content: "> ";
}
.prompt:focus::after {
  display: inline-block;
  width: 1em;
  content: " ";
  height: 1em;
  background-color: var(--color);
animation: cursor 1s infinite;
}

.terminal ol, li {
  padding-left: 0;
  list-style: inside decimal;
}
.terminal li {
  /* margin-left: 4rem; */
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}

